/* You can add global styles to this file, and also import other style files */
.container {
    justify-content: space-between;
    margin-right: 10 px;
}
button {
    justify-content: space-around;
}